@charset "utf-8";
/*
Eyes Of Silva Photography
Author: Michael
Author URI: https://nine32.com
Version: 1.2
*/

/* Tags */
body {
	font-size: 100%;
	background: #1f1e1e;
}

body, a, h1, h2, h3, h4, h5, h6 {
	color: #a8a392;
	font-family: "Times New Roman", Times, serif;
}

h1 {
	text-align: center;
}

header {
	background: #fff;
}

header nav ul {
	list-style-type: none;
	margin: 0;
	text-align: center;
	overflow: auto;
}

header nav ul li {
	padding: 5px 0;
}

header nav ul li a {
	text-decoration: none;
	font-size: 22px;
}

header li a:hover, footer li a:hover {
	text-decoration: underline;
}

footer {
	text-align: center;
	font-size: 85%;
	max-width: 80%;
	margin: 0 auto;
	padding: 10px 0;
}

footer ul {
	padding: 0;
	display: inline-block;
}

footer ul li {
	display: inline;
	padding: 0 10px;
	border-left: #a8a392 1px solid;
}

footer ul li:first-child {
	border-left: none;
}

footer ul li a {
	text-decoration: none;
}

/* ID */
#Logo {
	text-align: center;
}

#Body {
}

#BannerImage img{
	width: 100%;
	max-height: 304px;
}

#MainContent {
	max-width: 80%;
	margin: 0 auto;
	border-bottom: #a8a392 1px solid;
	font-size: 115%;
}

#MainContent a {
	text-decoration: underline;
}

/* Classes */
.entry-header {
	padding-bottom: 1.500em;
	text-align: center;
	background: #1f1e1e;
}

.entry-content {
	overflow: auto;
}

.PostDate {
	text-decoration: underline;
}

/* Gallery styling */
.gallery-icon {
	float: left;
}

/* Additional media queries for larger displays */
/* tablets - portrait */
@media screen and (min-width: 600px) {
header nav ul {
	padding: 10px 0;
}
header nav ul li {
	display: inline;
	padding: 10px 20px;
}
footer ul {
	margin-left: 5px;
}

footer ul li:last-child {
	padding-right: 0;
}
footer ul li:first-child {
	border-left: #a8a392 1px solid;
}

/* tablets - landscape */
@media screen and (min-width: 800px) {

}

/* desktops*/
@media screen and (min-width: 1025px) {
nav {
	overflow: auto;
	margin-top: 107px;
}

header {
	overflow: auto;
	padding: 0 10%;
	max-width: 80%;
}

header nav ul {
	float: right;
}

header nav ul li {
	padding-right: 65px;
}

header nav ul li:last-child {
	padding-right: 0;
}

#Logo {
	float: left;
}
}
