<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }} | Eyes of Silva Photography</title>
<link rel="stylesheet" href="/reset.css">
<link rel="stylesheet" href="/gallerystyles.css">
<link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
<div id="Logo">
<a href="/"><img src="/assets/images/logo.svg" width="278px" height="160px" /></a>
</div>
<nav>
<ul>
<li><a href="/blog/">Blog</a></li>
<li><a href="/gallery/">Gallery</a></li>
<li><a href="http://eyesofsilva.bigcartel.com/" target="_blank" rel="noopener noreferrer">Prints</a></li>
</ul>
</nav>
</header>
<div id="Body">
<div id="BannerImage">
<img src="/assets/images/hero01.jpg" />
</div>
<div id="MainContent">
{{ content }}
</div>
</div>
<footer>
<span id="Copyright">&copy; 2020 Eyes of Silva Photography</span>
</footer>
</body>
</html>
